# Introruction to Merging Data Frames

## Table of Contents
* [01. Importing Libraries](#01-Importing-Libraries)
* [02. Importing CSV File](02-Importing-CSV-File)
* [03. Checking dimensions, missing values, and duplicates](#03.-Checking-dimensions,-missing-values,-and-duplicates)
* [04. Merging Data Frames](#04-Merging-Data-Frames)
* [05. Exporting File](#05.-Exporting-File)

# 01. Importing Libraries

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

# 02. Importing CSV File

In [2]:
# Importing orders/products CSV file
df_ords_prior = pd.read_csv(r'/Users/suzandiab/Documents/Instacart Basket Analysis/02 Data/Original Data/orders_products_prior.csv', 
                      index_col = False)

# 03. Checking dimensions, missing values, and duplicates

In [3]:
# Checking dimensions
df_ords_prior.shape

(32434489, 4)

In [4]:
# Checking for missing values
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [5]:
# Checking for duplicates
df_dups = df_ords_prior[df_ords_prior.duplicated()]

In [6]:
# Checking duplicates
df_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

In [7]:
# Importing cleaned order CSV file
df_ords = pd.read_csv(r'/Users/suzandiab/Documents/Instacart Basket Analysis/02 Data/Prepared Data/orders_checked.csv', 
                      index_col = 0)

In [8]:
# Checking first 5 rows of data frame
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
# Checking first 5 rows of order data frame
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [10]:
# Checking dimensions of order CSV file
df_ords.shape

(3421083, 6)

# 04. Merging Data Frames

In [11]:
# Merging both data frames, with an inner join and common column
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [12]:
# Checking first 5 rows of new merged set
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

Can't determine whether we have full match because inner join was used.

In [13]:
# Counting match values for each row
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

Double check merge rates using outer join

In [15]:
df_merged_large.shape

(32434489, 10)

# 05. Exporting File

In [14]:
# Exported merged file in pickle format
df_merged_large.to_pickle(r'/Users/suzandiab/Documents/Instacart Basket Analysis/02 Data/Prepared Data/orders_products_combined.pkl')