# Merging data frames

## Table of Contents
* [01. Importing Libraries](#01.-Importing-Libraries)
* [02. Importing Files](02.-Importing-Files)
* [03. Checking Files & Merging Them](03.-Checking-Files-&-Merging-Them)
* [04. Exporting File](04.-Exporting-File)

# 01. Importing Libraries

In [1]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import os

# 02. Importing Files

In [2]:
# Importing merged data set
df_ords_prods_merged = pd.read_pickle(r'/Users/suzandiab/Documents/Instacart Basket Analysis/02 Data/Prepared Data/orders_products_combined.pkl')

In [3]:
# Importing product file
df_prods = pd.read_csv(r'/Users/suzandiab/Documents/Instacart Basket Analysis/02 Data/Prepared Data/products_checked.csv', 
                      index_col = 0)

# 03. Checking Files & Merging Them

In [4]:
# Checking dimensions of merged data set
df_ords_prods_merged.shape

(32434489, 10)

In [5]:
# Checking dimensions
df_prods.shape

(49672, 5)

In [6]:
# Checking first 5 rows of merged data set
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [7]:
# Checking first 5 rows of product data frame
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
# Merging the merged data set and product data set
df_merged_all = df_ords_prods_merged.merge(df_prods, on = 'product_id', indicator = 'exists')

In [9]:
# Checking first 5 rows of NEW merged data set
df_merged_all.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,exists
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,both

In [10]:
# Checking how many both values we have when merged
df_merged_all['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [12]:
df_merged_all.shape

(32404859, 15)

# 04. Exporting File

In [11]:
df_merged_all.to_pickle(r'/Users/suzandiab/Documents/Instacart Basket Analysis/02 Data/Prepared Data/ords_prods_merge.pkl')